/* SEARCH STYLES */

div#app-search-ui {
    padding: 0;
}

nav.search-assets {
    margin: 2em 0;
}

.ivsearch-result .card-container {
    height: 400px;
}

.ivsearch-result .card-container .search-result-container {
    height: 100%;
    width: 22rem;
    border: 1px solid #eee;
}


.ivsearch-result .search-result-container .img-container {
    height: 75%;
    /*border: 1px solid blue;*/
    width: 100%;
}

.img-container img.card-img-top {
    /*max-height: 70%;*/
    /*width: auto;*/
    margin: 0 auto;
}


#app-search-ui ul.list-group {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #fefd;
}

p.verbalizer {
    font-size: 2em;
}

/*.search-assets ul.pagination {
    margin: 2em auto;
    width: 25%;
}*/
/*p.page-count {
    width: 10%;
    text-align: center;
    margin: auto;
    border: 1px solid blue;
}*/