{% extends 'base.html' %}

{% block content %}

<style>
	@media only screen and (min-width: 600px) {
    
    section{
      height:90vh;
      position: relative;
    }

    .container{
      max-width: 500px;
      height:50vh;
      position: absolute;
      right:0;
      left:0;
      top:0;
      bottom:0;
      margin:auto;
    }
  }

  .btn{
      display: block;
      width: 100%;
      border: none;
      cursor: pointer;
      text-align: center;
  }

  h2{
      text-align:center;
    }

  p{
    text-align:center;
  }

  ul{
    list-style-type:none;
    padding-left:0;
  }

  ul li{
    color:#ff0000;
  }

  .topMargin {
      margin-top:20px;
  }

  .lightWeightGrayText {
      font-weight: 300;
      color: #888;
  }

  @media only screen and (max-width: 600px) {
    .container{
        max-width: 500px;
    }
  }

</style>
<section>
	<div class="container">
	  	<h2 class="text-primary topMargin">Password successfuly changed!</h2>
  		<p>You may now use your new password to <a href="{% url 'login' %}">log in</a>.</p>
  	</div>
</section>
{% endblock %}