{% extends 'base.html' %}

{% block content %}

<style>

  @media only screen and (min-width: 600px) {
    
    section{
      height:90vh;
      position: relative;
    }

    .container{
      max-width: 500px;
      height:50vh;
      position: absolute;
      right:0;
      left:0;
      top:0;
      bottom:0;
      margin:auto;
    }
  }

  .btn{
      display: block;
      width: 100%;
      border: none;
      cursor: pointer;
      text-align: center;
  }

  h2{
      text-align:center;
    }

  p{
    text-align:center;
  }

  .topMargin {
      margin-top:20px;
  }

  .lightWeightGrayText {
      font-weight: 300;
      color: #888;
  }

  ul{
    list-style-type:none;
    padding-left:0;
  }

  ul li{
    color:#ff0000;
  }

  @media only screen and (max-width: 600px) {
    .container{
        max-width: 500px;
    }
  }

</style>
   
  {% if validlink %}
<section>
<div class="container">
  <h2 class="text-primary topMargin">Set new password</h2>
    <form method="post">
        {% csrf_token %}
         {% for field in form.visible_fields %}
            <div class="form-group">
              {% if field.widget_type == 'password'  %}
                 <input class="form-control" id="{{ field.id_for_label }}" maxlength="128" name="{{ field.html_name }}" placeholder="{{ field.label }}" type="password" /> 
                          {{ field.errors }}
               {%endif %}
            </div>
          {% endfor %}
        <button class="btn btn-primary " type="submit">Save</button>
    </form>    
  {% else %}
    <p style="color:red">Invalid token</p>
    <p><a href="{% url 'password_reset' %}">Request a fresh password reset token</a></p>
  {% endif %}
</div>
</section>

{% endblock %}