{% extends 'base.html' %}
{% block content %}
<style>
@media only screen and (min-width: 600px) {
    
    section{
      height:90vh;
      position: relative;
    }

    .container{
      max-width: 500px;
      height:50vh;
      position: absolute;
      right:0;
      left:0;
      top:0;
      bottom:0;
      margin:auto;
    }
  }

  .btn{
      display: block;
      width: 100%;
      border: none;
      cursor: pointer;
      text-align: center;
  }

  h2{
      text-align:center;
    }

  

  .topMargin {
      margin-top:50px;
  }

  .wellbornLogo{
  	height: 40px;
  	margin:auto auto;
  }

  .lightWeightGrayText {
      font-weight: 300;
      color: #888;
  }

  ul{
    list-style-type:none;
    padding-left:0;
  }

  ul li{
    color:#ff0000;
  }

  @media only screen and (max-width: 600px) {
    .container{
        max-width: 500px;
    }
</style>


  <!--
    NOTE: This page wil ALWAYS show even if the user has no account or wrong email.
          This is a security feture to prevent fisching attempts
   -->
<section>
	<div class="container">
	  <h2 class="text-primary topMargin">Password reset sent</h2>
	  
	  <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
	  <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

	  <div class="topMargin">
	  	<center>
	    	<img class="wellbornLogo" id="logo_wellborn" src="https://marvel-b1-cdn.bc0a.com/f00000000049597/s3.amazonaws.com/wellbornmedia/ivault/WellbornCMYK.png" alt="">
		</center>
	  </div>
	</div>
</section>

{% endblock %}