{% extends 'base.html' %}

{% block content %}
<style>
@media only screen and (min-width: 600px) {
    
    section{
      height:90vh;
      position: relative;
    }

    .container{
      max-width: 400px;
      height:50vh;
      position: absolute;
      right:0;
      left:0;
      top:0;
      bottom:0;
      margin:auto;
    }
 }

    .btn{
      display: block;
      width: 100%;
      border: none;
      cursor: pointer;
      text-align: center;
  }

  .topMargin {
      margin-top:20px;
  }

  h2{
      text-align:center;
    }

    ul{
    list-style-type:none;
    padding-left:0;
  }

  ul li{
    color:#ff0000;
  }

</style>
<section>
	<div class='container'>
	  <h2 class='text-primary topMargin'>Reset your password</h2>
	    <form method="post">
	    	{% csrf_token %}
	   		{% for field in form.visible_fields %}
	            <div class="form-group">
	                    {% if field.widget_type == 'email'  %} 
	      				 	<input class="form-control" id="{{ field.id_for_label }}" maxlength="128" name="{{ field.html_name }}" placeholder="{{ field.label }}" type="email" /> 
	                    	{{ field.errors }}
	                     {%endif %}
	           	</div>
	        {% endfor %}
	      <button class='btn btn-primary' type="submit">Send confirmation link</button>
	  	</form>
	 </div>
</section>
{% endblock %}