{% extends 'base.html' %}
{# Load the JS CSS etc with "static" #}
{% load static %}

{% block headassets %}
<!-- BLOCK HEAD ASSETS 
<script src="uploader_vue.js"></script>
<link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script> -->
{% endblock %}

{% block content %}

{% comment %}{% print preUploadData %} {% endcomment %}

{% comment %}
  Make the preUploadData available to Javascript with this:
    {{ preUploadData|json_script:"preUploadData" }}
   Then in uploader_vue.js  use:
   var preUploadData = JSON.parse(document.getElementById('preUploadData').textContent);
{% endcomment %}
{{ preUploadData|json_script:"preUploadData" }}
{{ selectOptionsGroups|json_script:"selectOptionGroups" }}

{% comment %} {% endcomment %}
<h1>Uploads Configurator</h1>
{% csrf_token %}
<div id="app-uploader">
  <div>
    <p>
      <span><button :disabled="!configurator" class="btn btn-primary btn-lg" type="button" @click="batch_commit_upload">Commit</button></span>
      <span><button :disabled="!configurator" class="btn btn-secondary btn-lg" type="button" @click="batch_cancel">Cancel</button></span>
    </p>
  </div>
  <uploaderaccordian v-for="upload in batchUploads" 
             :batch_update_preupload_options="batch_update_preupload_options"
             :configurator="configurator" 
             :filedat="upload" 
             :remove_upload="removeUpload" 
             :key="upload.id" 
             :option_groups="selectOptionGroups" >
  </uploaderaccordian>
</div>
<div id="upload-confirmation">
  
</div>

{% endblock %}