{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- VueJS  Controlled -->
<section id="app-uploader2" class="upload-container">      
  <h2>UPLOAD CONFIRMATION <span style="color:blue;">[[ test01 ]]</span></h2>
  <button class="but-commit-file-batch" type="button" value="commit_batch">Commit File Batch</button>
  <p>Once the file batch is commited, the option values can be batch manipulated from here.</p>
  {% if devOut %}<p>{% print devOut %}</p>{% endif %}
  {% if preUploadData %}
  <div class="assetContainer">
    {% for data in preUploadData %}
    <article id="upload-{{ data.incr }}" class="message is-primary is-closed" >

      <div id="header-{{ data.incr }}" class="message-header" @click="toggleAccordian">
        <p>
          
          {% if data.is_existing_asset %}
            <span class="icon has-text-danger">
              <!-- <i class="fas fa-2x fa-exclamation-triangle"></i> -->
              <i class="fas fa-2x fa-upload"></i>
            </span>
          {% else %}
            <span class="icon has-text-info">
              <i class="fas fa-2x fa-upload"></i>
            </span>
          {% endif %}
            <!--
            <span>
                <button class="button is-info is-small" type="button" value="{{ data.incr }}~{{ data.id }}~{{ opt.id}}~upload" @click="fetchOptionGroupValues">commit upload</button>
            </span>  -->
            <span>
                <button class="button is-warning is-small" type="button" value="{{ data.incr }}~{{ data.id }}~{{ opt.id}}~discard">discard upload</button>
            </span>
          <span class="upload-file-incriment">({{ data.incr }})</span>
          <span class="upload-file-id">{% if data.id > 0 %}{{ data.id }}{% endif %}</span>
          <span class="upload-file-name" {% if data.id == 0 %}style="color:#fff"{% endif %}>{{ data.fileName }}</span>
        </p>
      </div>

      <div id="msg-body-{{ data.incr }}" class="message-body">
        
        <div class="asset-values">
          <ul>     
           {% if data.optionVals %}      
           {% for opt in data.optionVals %}
             <li><button class="remove-value-button" type="button" value="{{ data.incr }}~{{ data.id }}~{{ opt.id}}~remove_single"> - </button><button class="batch-add-value-button" type="button" value="{{ data.incr }}~{{ data.id }}~{{ opt.id}}~batch_add">Batch add</button><button class="batch-remove-value-button" type="button" value="{{ data.incr }}~{{ data.id }}~{{ opt.id}}~batch_remove">Batch remove</button><span> ({{ opt.id}}) {{ opt.groupName }}:{{ opt.definition }}</span></li>
           {% endfor %}
           {% endif %}
          </ul>
        </div>
        
        <div id="{{ data.incr }}-add-option-{{ data.id }}" class="add-option-container">
        {#% if data.id > 0 %#}
          <br />
          <label for="selectOptionGroups_{{ data.id }}">Add options</label><br />
          <select id="{{ data.incr }}_selectOptionGroups_{{ data.id }}" class="selectOptionGroups">
            <option value="0">none</option>
            {% for option in optionsData %}
              <option value="{{ option.groupName }}">{{ option.groupName }}</option>
            {% endfor %}
          </select>
          <div id="{{ data.incr }}_optionDefinitionsContainer_{{ data.id }}" class="optionDefinitionsContainer"></div>
          <div class="{{ data.incr }}_selectedDefinitionsContainer"></div>  
        </div>

      </div>
    </article>
    {% endfor %}  
  </div>
  {% endif %}
</section>



<script>
   $(document).ready(function () {

        $(".selectOptionGroups").on('change', function() {
            const optionGrpId = $(this).attr('id');
            const optionGrpIdArr = optionGrpId.split("_");
            const uploadIncr =  optionGrpIdArr[0];
            const assetId =  optionGrpIdArr[2];
            console.log('optionGrpId', optionGrpId);
            let  optionGroupName = $('#' + optionGrpId + ' option:selected').text();
            console.log('('+ assetId + ') Pre-AJAX optionGroupId:', optionGroupName );
            $.ajax({
              url: '/ajax/opt-grp-values/',
              data: {
                'optionGroupName': optionGroupName,
                'asset_id': assetId
              },
              dataType: 'json',
              success: function (data) {
                if (data) {
                    console.log('data', data)
                    let select = $("<ul></ul>").attr("id", "optnDefs").attr("name", "optionDefinitions");
                    $.each(data, function(index,data){
                      select.append($("<li></li>").attr("value", data.id).html('<button class="add-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+data.id+'~add_single" data="('+data.id+')'+data.groupName+':'+data.definition+'"> + </button><button class="batch-add-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+data.id+'~batch_add" data="('+data.id+')'+data.groupName+':'+data.definition+'">Batch add</button><button class="batch-remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+data.id+'~batch_remove" data="('+data.id+')'+data.groupName+':'+data.definition+'">Batch remove</button> <span> ' + data.definition + '</span>'));
                    })
                    $( "#"+uploadIncr+"_optionDefinitionsContainer_"+assetId ).html( select );
                }
              }
            });
        });

        $( ".optionDefinitionsContainer" ).delegate( "button.add-value-button", "click", function() {
            //const containerId = $(this).attr('id');
            const buttonVal = $(this).attr('value');
            const buttonData =  $(this).attr('data');
            const dataArray = buttonVal.split("~");
            const uploadIncr = dataArray[0];
            const assetId = dataArray[1];
            const assetOptionId = dataArray[2];
            const mode = dataArray[3];

            console.log('buttonData', buttonData)
            console.log ('Asset, optionVal', assetId, assetOptionId)
            
            if(assetId == 0){  

                // Attach the Option Values before adding to dB
                liGuts= '<button class="remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+assetOptionId+'~remove_single"> - </button><button class="batch-add-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+assetOptionId+'~batch_add">batch add</button><button class="batch-remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+assetOptionId+'~batch_remove">batch remove</button> <span> '+buttonData+'</span>';
                let addedOtionValue = $( "<li></li>" ).append(liGuts);
                $('#msg-body-'+uploadIncr+' .asset-values ul ').append(addedOtionValue);

            }else{
                $.ajax({
                  url: '/ajax/add-asset-def/',
                  data: {
                    'assetId': assetId,
                    'assetOptionId': assetOptionId,
                    'mode': mode
                  },
                  dataType: 'json',
                  success: function (data) {
                    if (data) {
                        console.log('data', data)
                        let liGuts = '';
                        let optionList = $( "<ul></ul>" );
                        $.each(data, function(index,dat){
                            //console.log('DAT:',dat);
                            liGuts= '<button class="remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+dat.id+'~remove_single"> - </button><button class="batch-add-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+dat.id+'~batch_add">batch add</button><button class="batch-remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+dat.id+'~batch_remove">batch remove</button> <span> ('+dat.id+') '+dat.groupName+':'+dat.definition+'</span>';
                            optionList.append($("<li></li>").html(liGuts));
                        })
                        console.log('optionList', optionList);
                        $( "#msg-body-"+uploadIncr+" .asset-values").html(optionList);
                    }else{
                        console.log('NO AJAX DATA RETURNED from /ajax/add-asset-def/');
                    }
                  }
                });
            }// if else

        }); 

        $( ".assetContainer .asset-values" ).delegate( "ul li button", "click", function() {
              console.log( $(this).attr('asset') );
              const buttonVal = $(this).attr('value');
              const dataArray = buttonVal.split("~");
              const uploadIncr = dataArray[0];
              const assetId = dataArray[1];
              const assetOptionId = dataArray[2];
              const mode = dataArray[3];
              console.log ('Asset, optionVal', assetId, assetOptionId)
              
            $.ajax({
              url: '/ajax/remove-asset-def/',
              data: {
                'uploadIncr': uploadIncr,
                'assetId': assetId,
                'assetOptionId': assetOptionId
              },
              dataType: 'json',
              success: function (data) {
                if (data) {
                    console.log('data', data)
                    let liGuts = '';
                    let optionList = $( "<ul></ul>" ).attr('class','asset_values');
                    $.each(data, function(index,dat){
                        //console.log('DAT:',dat);
                        liGuts= '<button class="remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+dat.id+'~remove_single"> - </button><button class="batch-add-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+dat.id+'~batch_add">batch add</button><button class="batch-remove-value-button" type="button" value="'+uploadIncr+"~"+assetId+"~"+dat.id+'~batch_remove">batch remove</button> <span> ('+dat.id+') '+dat.groupName+':'+dat.definition+'</span>';
                        optionList.append($("<li></li>").html(liGuts));
                    })
                    console.log('optionList', optionList);
                    $( "#msg-body-"+uploadIncr+" .asset-values").html(optionList);
                }else{
                    console.log('NO AJAX DATA RETURNED from /ajax/add-asset-def/');
                }
              }
            });
        });             

   });
</script>


{% endblock %}