{% extends 'base.html' %}
{# Load the JS CSS etc with "static" #}
{% load static %}
{% block content %}
{% comment %}
Pass dJango variable into <script id="selectOptionGroups" >
So it can be used by VueJS
{% endcomment %}
{{ optionGroups|json_script:"selectOptionGroups" }}

<h2>SEARCH</h2>

 {% comment %} <p>{% print devOut %}</p>{% endcomment %}

{% comment %} STOP if you print searchResults, it throw a pagination error  {% endcomment %}
<p>{% comment %} print searchResults  {% endcomment %}</p>

<div id="app-search-ui" class="search-controls col-12">
  {% comment %}
  <select v-model="selectOptionGroups" class="selectOptionGroups form-control">
    <option value="0">none</option>
    <option v-for="grpOpt in selectOptionGroups" :value="grpOpt.groupName">{{ grpOpt.groupName }}</option>
  </select>
 {% endcomment %}  
 <h3 > Option Group Headers </h3>
  <ul class="list-group col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-1 my-3 w-100">
    <li v-for="opt in selectOptionGroups" :key="opt.id" class="w-100">
      <span class="float-sm-left w-35">
        <button class="btn btn-success btn-sm" type="button" 
                :value="'and~'+opt.groupName" 
                @click="update_search_query([0,'group','add',opt.groupName])" > + Header </button>
        <button class="btn btn-secondary btn-sm" type="button" 
                 :value="'clear~'+opt.groupName"
                @click="update_search_query([0,'group','clear',opt.groupName])" > - Header </button>
        {% comment %} 
        <button class="batch-add-value-button btn btn-warning btn-sm" type="button" 
                 :value="'not~'+opt.groupName"
                @click="update_search_query([0,'group','exclude',opt.groupName])" > exclude </button>
        {% endcomment %} 
        <button class="btn btn-info btn-sm" type="button" 
                :value="opt.groupName" 
                @click="get_opt_grp_definintions" > def's >> </button>
      </span> 
      <span class="float-sm-left ml-2 option-def">
        <span class="w-100">[[ opt.groupName ]]</span>
      </span> 
    </li>
  </ul>

  <button class="btn btn-sm" type="button" 
      v-bind:class="{'btn-warning': is_anded_or, 'btn-secondary': !is_anded_or}" 
      @click="is_anded_or = !is_anded_or" >AND'ed OR mode</button>

  <br /> <br />
  <div class="optionDefinitionsContainer">
    <h3 >[[ current_option_header ]] </h3>
    <ul class="list-group col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-1 my-3">
      <li v-if="grp_defs" v-for="def in grp_defs" :key="def.id" >
        <button class="add-value-button btn btn-success btn-sm" type="button" 
                @click="update_search_query([0,'def','add', def.id])" 
                alt="search must include" > include </button>
        <button class="remove-value-button btn btn-warning btn-sm" type="button" 
                @click="update_search_query([0,'def','exclude', def.id])" 
                alt="search must exclude" > exlude </button>
        <button class="remove-value-button btn btn-info btn-sm" type="button" 
                @click="update_search_query([0,'def','clear', def.id])" 
                alt="remove from search influence" > clear </button>

        <span>([[ def.id ]])  <span class="font-weight-bold"> [[ def.definition ]]</span></span>
      </li>
    </ul>
  </div>
 
  <div>
    {% comment %} <div><input class="col-6" v-model="urlQryInit" type="text"></div>
    <div><input class="col-6" v-model="url_qry_str" type="text"></div>{% endcomment %} 
    <div>
      <p class="verbalizer">[[ verbalize_query ]]</p>
      {% comment %} <textarea class="col-6" v-model="verbalize_query" type="text"></textarea> {% endcomment %} 
    </div>
    <br />
    <p>
      <span><input v-model="per_page_limit" type="text"></span>
      <span><button @click="perform_search()" 
                    class="btn btn-primary btn-lg" 
                    type="button" >Search</button></span>
      <span><button @click="perform_reset()" 
                    class="btn btn-secondary btn-lg" 
                    type="button" >Reset</button></span>
      {% comment %} 
      <span><button disabled="true" class="btn btn-secondary btn-lg" 
                    type="button" >Union</button></span>{% endcomment %} 
    </p>
  </div>
</div>


{% include "pagination.html" %}

<div class="row text-center ivsearch-result accordion" id="accordionAssetSearch">
  {% for asset in searchResults %}
  <div class="col-sm-4 col-md-3 col-lg-3 col-xl-1 search-result-container">
    <div class="img-container">
      <a href="">
        <img class="card-img-top mt-3" src="{{ S3_iVault_uri }}{{ asset.fileName }}" alt="{{ asset.id }}-{{ asset.fileName }}">
      </a>
      
    </div>
  </div>
  {% endfor %}
</div>

{% include "pagination.html" %}

{% endblock %}
