/* UPLOADER STYLES */

/* File Uploader Form  */
button.multi-uploader {
    margin: 1em 0 1em 2em;
}



/* Accordian related */
.upload-container article.message {
    margin-bottom: 1px;
}

.is-upload-header {
  background-color: #ccc;
}

.message-header {
    /*background: linear-gradient(178deg, #b0e0e6, transparent); */
}

.message-header {
    cursor: pointer;
}

.message-header p {
    color: #000;
    width: 100%;
}

.message-body {
    overflow: hidden;
    transition: 0.3s ease all;
}
.is-closed .message-body {
    height: 0;
    padding: 0;
    max-height: 0;
    border: 5px solid purple;
}

span.upload-file-incriment {
    margin: 0 0 0 15px;
}

span.upload-file-id {
    display: inline-block;
    width: 6em;
    margin: 10px;
    padding: 0;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 3rem;
}

.col-left-01, .col-left-02 {
    /* width: 3%; */
    text-align: right;
    display: inline-block;
    padding: 0;
    min-width: 42px;
    font-size: 1.8em;
}

.has-text-warning {
    color: #ffA500!important;
}

span.col-left-02 {
    color: red;
}

.asset-values {
    width: 49%;
    float: left;
}

.asset-images {
    float: left;
    width: 50%;
}

.asset-images .existing-img, 
.asset-images .new-img {
    /*width: auto;*/
}

span.float-sm-left.option-def {

}

.asset-images .existing-img img, .asset-images .new-img img {
    width: auto;
    height: auto;
    max-height: 400px;
}

.is-batch-option {
    color:blue;
}

button.batch-add-value-button {
   /* background: #b0e0e6;
    color: blue;*/
}

button.batch-remove-value-button {
   /* background: #faecb6;
    color: black;*/
}

button.add-value-button {
    /*background: lawngreen;
    color: black;*/
}

button.remove-value-button {
    /*color: black;
    background: orange;
    border: 1px solid darkred;*/
}

span.is-local-option {
    /* border: 1px dotted #ededed; */
    background: linear-gradient(45deg, #f2f2f2, transparent);
    padding: .1em 5em .2em .2em;
    width: 300px;
}

button.button-confirm {
  /*background-color: lawngreen;
  color: black;  */
}

button.button-cancel {
  /*color: black;
  background: red;
  border: 1px solid darkred;  */
}

.asset-values ul li {
    margin: .33em 0 0 0;
}


/*  //////////////////////////  */
/*  START: PROGRESS BAR RELATED */
/*  //////////////////////////  */
span#upload-prog-1 {
    margin: 0 5em;
}

/*.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value svg {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;

  color: red;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}*/
/*  //////////////////////////  */
/*  END: PROGRESS BAR RELATED   */
/*  //////////////////////////  */



