<nav class="search-assets" aria-label="search-assets">
  <ul class="pagination">
  {% if searchResults.has_previous %}
    {% comment %}
      <li class="page-item">
        <a class="page-link" href="?q={{ queryString }}&page={{ searchResults.previous_page_number }}" aria-disabled="true">Previous</a>   
      </li>
    {% endcomment %}
    {% if searchResults.number > 6 %}
      <li class="page-item">  
        <a class="page-link" href="?q={{ queryString }}&limit={{ searchResults.paginator.per_page }}&page=1">first</a>
      </li>
    {% endif %}
    {% with '-5 -4 -3 -2 -1' as befor_pages %}
     {% for inc in befor_pages.split %}
      {% if searchResults.number|add:inc > 0 %}
      <li class="page-item ">
        <a class="page-link" href="?q={{ queryString }}&limit={{ searchResults.paginator.per_page }}&page={{ searchResults.number|add:inc }}">{{ searchResults.number|add:inc }}</a>
      </li>
      {% endif %}
     {% endfor %}
    {% endwith %}

  {% endif %} 
    <li class="page-item active">
      <a class="page-link" href="#">{{ searchResults.number }}</a>
    </li>
  {% if searchResults.has_next %}
    {% with '1 2 3 4 5' as added_pages %}
     {% for inc in added_pages.split %}
      {% if searchResults.paginator.num_pages >= searchResults.number|add:inc %}
      <li class="page-item ">
        <a class="page-link" href="?q={{ queryString }}&limit={{ searchResults.paginator.per_page }}&page={{ searchResults.number|add:inc }}">{{ searchResults.number|add:inc }}</a>
      </li>
      {% endif %}
     {% endfor %}
    {% endwith %}
    {% comment %}
    <li class="page-item">  
      <a class="page-link" href="?q={{ queryString }}&page={{ searchResults.next_page_number }}">next</a>
    </li>
    {% endcomment %}
    {% if searchResults.number|add:6 <= searchResults.paginator.num_pages %}
      <li class="page-item">  
        <a class="page-link" href="?q={{ queryString }}&limit={{ searchResults.paginator.per_page }}&page={{ searchResults.paginator.num_pages  }}">last</a>
      </li>
    {% endif %}
  {% endif %}
  </ul>
  <div><p class="page-count">Number of pages: {{ searchResults.paginator.num_pages }}, {{ searchResults.paginator.per_page }} per page</p></div>
</nav>